@charset "utf-8";
/* CSS Document */


/* Webfonts */
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	font-display:swap;
	src:local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../font/NotoSansKR-Light.woff2) format('woff2'), url(../font/NotoSansKR-Light.woff) format('woff'), url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../font/NotoSansKR-Regular.woff2) format('woff2'), url(../font/NotoSansKR-Regular.woff) format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	font-display:swap;
	src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../font/NotoSansKR-Medium.woff2) format('woff2'), url(../font/NotoSansKR-Medium.woff) format('woff'), url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	font-display:swap;
	src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(../font/NotoSansKR-Bold.woff2) format('woff2'), url(../font/NotoSansKR-Bold.woff) format('woff'), url(../font/NotoSansKR-Bold.otf) format('opentype');
}


/* scroll */
::-webkit-scrollbar{width:6px;height:6px;}
/* Handle */
::-webkit-scrollbar-thumb{border-radius:3px;background-color:rgba(0,0,0,.35);}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{background-color:rgba(0,0,0,.7);}
/* Track */
::-webkit-scrollbar-track{margin:6px 0;background-color:transparent;}

/* menu */
.aside_inn::-webkit-scrollbar{width:2px;height:2px;}
.aside_inn::-webkit-scrollbar-thumb{border-radius:2px;background-color:rgba(255,255,255,.5);}
.aside_inn::-webkit-scrollbar-thumb:hover{background-color:rgba(255,255,255,1);}
.aside_inn::-webkit-scrollbar-track{margin:2px 0;background-color:transparent;}

/* 헤더영역 */
.header_inn *{box-sizing:border-box;}
.header_inn{padding:0 22px;}
.header .header_inn .logo{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row nowrap;justify-content:flex-start;align-items:center;}
.header .header_inn .logo h1{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row nowrap;justify-content:flex-start;align-items:center;margin:0 12px 0 0;height:45px;}
.header .header_inn .logo h1 a{display:inline-block;min-width:50px;min-height:16px;line-height:0;}
.header .header_inn .logo h1 span{display:inline-block;margin:0 0 0 7px;padding:0;font-family:'Noto Sans KR';font-size:17px;font-weight:300;color:#fff;line-height:20px;}
.header .header_inn .logo h2{position:relative;margin:0 0 0 12px;padding:0;font-family:'Noto Sans KR';font-size:14px;font-weight:500;color:#fff;line-height:20px;}
.header .header_inn .logo h2::before{content:"";position:absolute;top:2px;left:-12px;width:1px;height:16px;margin:0;padding:0;line-height:0;background-color:rgba(255,255,255,0.25);}

/* 메뉴영역 */
.gnbMenu{margin:0;padding:0;}
.gnbMenu_list{border-bottom:1px solid #292f39;}

.gnbMenu .depthOne{position:relative;}
.gnbMenu .depthOne a{position:relative;}
/*.gnbMenu .depthOne a.on{background-color:#313843;}
.gnbMenu .depthOne a.on::before{content:'';position:absolute;width:4px;height:31px;left:0;top:0;background-color:rgba(51,156,221,1);}
.gnbMenu .depthOne a:hover{background-color:#313843;}
.gnbMenu .depthOne a:hover::before{content:'';position:absolute;width:4px;height:31px;left:0;top:0;background-color:rgba(51,156,221,1);}*/
.gnbMenu .depthOne a.depthOneNode{display:flex;align-items:center;height:31px;padding:0 0 0 14px;}
.gnbMenu .depthOne a.depthOneNode h3{display:block;width:100% !important;padding:0;font-family:'Dotum';font-size:12px;font-weight:700;color:#b7bbc6;line-height:16px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.gnbMenu .depthOne a.on.depthOneNode h3{color:#fff;}

.gnbMenu .depthOne a.active{background-color:#313843;}
.gnbMenu .depthOne a.active::before{content:'';position:absolute;width:4px;height:31px;left:0;top:0;background-color:rgba(51,156,221,1);}
.gnbMenu .depthOne a.active:hover{background-color:#313843;}
.gnbMenu .depthOne a.active:hover::before{content:'';position:absolute;width:4px;height:31px;left:0;top:0;background-color:rgba(51,156,221,1);}
.gnbMenu .depthOne a.active.depthOneNode h3{color:#fff;}

.gnbMenu .depthSub{/*border-bottom:1px solid #292f39;*/padding:0 0 5px;}
.gnbMenu .depthTwo a{position:relative;margin:0;}
.gnbMenu .depthTwo a:hover{background-color:#313843;}
.gnbMenu .depthTwo a.on{background-color:#313843;}
.gnbMenu .depthTwo a::after{content:'';position:absolute;width:12px;height:12px;right:10px;top:7px;background-image:url("../img/menu/ic_link.png");background-repeat:no-repeat;}
.gnbMenu .depthTwo a:hover::after{background-image:url("../img/menu/ic_link_hover.png");}
.gnbMenu .depthTwo a.on::after{background-image:url("../img/menu/ic_link_hover.png");}
.gnbMenu .depthTwo a.depthTwoNode{position:relative;display:flex;align-items:center;height:25px;padding:0 28px 0 28px;}
.gnbMenu .depthTwo a.depthTwoNode h3{display:block;padding-top:2px;font-family:'Dotum';font-size:12px;font-weight:400;color:#c6cbd4;line-height:13px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.gnbMenu .depthTwo a.on.depthTwoNode h3{color:#fff;}

/* 메뉴영역(관리자) */
.gnbMenu .usrMgmt{border:1px solid #292f39;margin:15px 10px;}
.gnbMenu .usrMgmt dl{margin:0;}
.gnbMenu .usrMgmt dl dt{font-family:'Dotum';font-size:12px;font-weight:700;color:#b7bbc6;text-align:center;line-height:33px;width:100%;height:31px;background-color:#4c5663;border-bottom:1px solid #292f39;}
.gnbMenu .usrMgmt dl dd ul li a{display:block;padding:0 17px;font-family:'Dotum';font-size:12px;font-weight:400;color:#b7bbc6;line-height:27px;height:25px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.gnbMenu .usrMgmt dl dd ul li a.on{background-color:#313843;}
.gnbMenu .usrMgmt dl dd ul li a:hover{background-color:#313843;}

/* 배너영역 */
.aside_banner_inn{display:flex;height:38px;margin:10px;padding:0;padding:0;text-align:center;line-height:0;box-sizing:border-box;background-color:transparent;overflow:hidden;}

/* 푸터영역 */
.aside_bottom{background-color:#fff;border-top:1px solid #ddd;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;}
.aside_bottom .menu ul{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;flex-flow:row wrap;justify-content:flex-start;align-items:center;}
.aside_bottom .menu ul li{position:relative;padding:0;font-size:11px;font-weight:300;color:#c6cbd4;line-height:20px;}
.aside_bottom .menu ul li:first-child{padding:0 17px 0 0;}
.aside_bottom .menu ul li:first-child::before{content:"";position:absolute;top:9px;right:8px;width:1px;height:10px;background-color:#a9a9a9;}
.aside_bottom .menu li a{display:block;height:29px;font-size:11px;font-weight:300;color:#3c434e;line-height:29px;}
.aside_bottom .menu li a:hover{text-decoration:underline;}
.aside_bottom .copyright p{height:29px;font-size:12px;font-weight:300;color:#3c434e;line-height:29px;}
