@charset "utf-8";
/* CSS Document */


/* Webfonts */
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:300;
	font-display:swap;
	src:local('Noto Sans KR Light'), local('NotoSansKR-Light'), url(../font/NotoSansKR-Light.woff2) format('woff2'), url(../font/NotoSansKR-Light.woff) format('woff'), url(../font/NotoSansKR-Light.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:400;
	font-display:swap;
	src:local('Noto Sans KR Regular'), local('NotoSansKR-Regular'), url(../font/NotoSansKR-Regular.woff2) format('woff2'), url(../font/NotoSansKR-Regular.woff) format('woff'), url(../font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:500;
	font-display:swap;
	src:local('Noto Sans KR Medium'), local('NotoSansKR-Medium'), url(../font/NotoSansKR-Medium.woff2) format('woff2'), url(../font/NotoSansKR-Medium.woff) format('woff'), url(../font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:700;
	font-display:swap;
	src:local('Noto Sans KR Bold'), local('NotoSansKR-Bold'), url(../font/NotoSansKR-Bold.woff2) format('woff2'), url(../font/NotoSansKR-Bold.woff) format('woff'), url(../font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face{
	font-family:'Noto Sans KR';
	font-style:normal;
	font-weight:800;
	font-display:swap;
	src:local('Noto Sans KR Black'), local('NotoSansKR-Black'), url(../font/NotoSansKR-Black.woff2) format('woff2'), url(../font/NotoSansKR-Black.woff) format('woff'), url(../font/NotoSansKR-Black.otf) format('opentype');
}

/* 공통 */
*{margin:0;padding:0;}
html, body{width:100%;height:100%;}
header,nav,section,article,aside,footer,hgroup,menu,canvas,figcaption,figure{display:block;}
html,body,table,th,td,div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,fieldset,label,input,textarea,select,span,iframe,dl,dt,dd,pre,blockquote,time,hr{margin:0;padding:0;}

/* basic */
body{font-family:'Noto Sans KR','돋움',Gulim,'굴림',Arial,sans-serif;font-size:12px;color:#555;}
div,p,ol,ul,li,img,a,h1,h2,h3,form,span,iframe,dl,dt,dd{}
dl,ul,ol{list-style:none;}
table{empty-cells:show;border-collapse:collapse;width:100%;table-layout:fixed;}
fieldset{border:none;}
legend,caption,hr{display:none;}
img{border:none;}
img,label{vertical-align:middle;}
label{vertical-align:middle;height:13px;}
input{vertical-align:middle;}
input[type=text], input[type=file], input[type=password]{height:16px;line-height:16px;padding:3px 4px 2px 4px;vertical-align:middle;font-size:12px;color:#555;border:1px solid #cbcbcb;background:#fff;}
input.i_space{padding-right:4px !important;padding-left:4px !important;}
input[type=checkbox],input[type=radio]{width:13px;height:13px;border:none;background:transparent;vertical-align:middle;-webkit-border-radius:0;}
input.dis,select.dis{background:#f4f4f4 !important;color:#bbb !important;}/* (add)20161014 */
input,select,textarea{vertical-align:middle;font-family:'Noto Sans KR','돋움',Gulim,'굴림',Arial,sans-serif;font-size:12px;border:1px solid #cbcbcb;}
textarea{padding:6px 4px 6px 4px;color:#555;resize:vertical;}/* (modify)20170713 */
select{display:inline-block;color:#555;height:23px;padding:2px 0 2px 0 !important;}

/* align */
.t_center, .tac{text-align:center !important;}
.t_right, .tar{text-align:right !important;}
.t_left, .tal{text-align:left !important;}

.v_top, .vat{vertical-align:top !important;}
.v_middle, .vam{vertical-align:middle !important;}
.v_bottom, .vab{vertical-align:bottom !important;}

.f_right, .frt{float:right !important;}
.f_left, .flt{float:left !important;}
.f_none, .fno{float:none !important;}

.cboth{clear:both;overflow:hidden;}
.cboth:before,.cboth:after{display:table;content:'';}
.cboth:after{clear:both;}

/* text common */
/* default link */
a{cursor:pointer;}
a:link,a:visited{text-decoration:none;color:#555;}
a:hover,a:active{text-decoration:none;color:#555;}
a.off{cursor:default;}

/* font weight */
.fwb{font-weight:bold !important;}
.fwn{font-weight:normal !important;}

/* font color */
.txt_r{color:#f00 !important;}
.txt_r20{color:#ff8181 !important;}
.txt_r21{color:#fd2b2b !important;}
.txt_b{color:#3598db !important;}
.txt_b20{color:#54efff !important;}
.txt_b21{color:#08b7c9 !important;}
.txt_pu{color:#ab41f6 !important;}
.txt_g{color:#999 !important;}
.txt_dgray{color:#464646 !important;}
.txt_o{color:#f88b21 !important;}
.txt_uline{text-decoration:underline !important;}

.ie7_srollbar_weight{*margin-right:17px !important;}

/* etc */
.blind{display:none !important;}
.skip{position:absolute;top:-100000px;left:-100000px;visibility:hidden;overflow:hidden;}
.t_hover:hover{text-decoration:underline !important;}

/* IE10 input type auto x delete */
input[type=text]::-ms-clear,input[type=file]::-ms-clear{display:none;}

/* webkit */
::-webkit-input-placeholder{color:#bbb !important;}
/* FF 4~18 */
:-moz-placeholder{color:#bbb !important;}
/* FF 19+ */
::-moz-placeholder{color:#bbb !important;}
/* IE10+ */
:-ms-input-placeholder{color:#bbb !important;}
/* placehoder color style */
.my-placeholder{color:#bbb !important;}

/* 필수 입력 컬러 (input) */
.input_red{border:1px solid #e37172 !important;}

/* Chrome Field Outline = None */
input:focus{outline:none;}
textarea:focus{outline:none;}
select:focus{outline:none;}
button:focus{outline:none;}

/* input[type=text] */
.inputR{padding-right:4px !important;}

/* block control */
.displayblock{display:block !important;}
.displayinlineblock{display:inline-block !important;}
.displayinline{display:inline !important;}
.displayinherit{display:inherit !important;}

/* position control */
.poRelative{position:relative !important;}
.poAbsolute{position:absolute !important;}
.poStatic{position:static !important;}
