@charset "utf-8";
/* CSS Document */

@import "margin.css";
@import "padding.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", "Noto Sans KR", "돋움", Gulim, "굴림", Arial,
    sans-serif;
  font-display: swap;
  /* 
		font-family:'Noto Sans KR','돋움',Gulim,'굴림',Arial,sans-serif;
		font-size:12px;
		color:#555; 
	*/
}
body {
  text-rendering: optimizeSpeed;
}
/* head */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 60px;
  min-width: 1200px;
  padding: 0 40px;
  padding-top: 7px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  z-index: 30000;
}
.header_inn {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 260px;
  height: 60px;
}
.header .logo a {
  display: block;
  justify-content: center;
  width: 260px;
  height: 60px;
  /* background-image: url(../img/bg/logo_WebcashGlobal.png); */
  /* background-image: url(../img/bg/logo_WebcashGenuwin.png); */
  /* background-image: url(../img/bg/logo_WebcashVietnam.png); */
  background-image: url(../img/bg/logo_WebcashVietnam.jpg);
  background-repeat: no-repeat;
  background-position: 0 18px;
}

/* .gnb_wrap */
.gnb_wrap {
  display: inline-block;
  text-align: center;
}
.gnb_wrap ul.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  margin-top: 10px;
}

.gnb_wrap ul.gnb > li {
  padding: 0;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin-left: -3px;
}
.gnb_wrap ul.gnb > li:first-child {
  margin-left: 20px;
}
.gnb_wrap ul.gnb > li > a {
  position: relative;
  /* display: inline-block; */
  /* width: 150px; */

  padding: 5px 10px;
  margin: 0px 10px;
  /* font-family: "Noto Sans KR"; */
  font-weight: 400;
  font-size: 15px;
  color: #333;
  /* line-height: 80px; */
  text-align: center;
  /* vertical-align: top; */
}
.gnb_wrap ul.gnb > li > a:after {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  height: 4px;
  background: #223359;
  z-index: 300;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
/* on */
.gnb_wrap ul.gnb > li.on > a:after,
.gnb_wrap ul.gnb > li:hover > a:after {
  opacity: 1;
}
.gnb_wrap ul.gnb > li > a.on:after {
  opacity: 1;
}
.index .gnb_wrap ul.gnb > li > a:after {
  opacity: 0;
}
.gnb_wrap ul.gnb > li.on > a,
.gnb_wrap ul.gnb > li:hover > a {
  font-weight: 700;
  color: #223359;
}
.gnb_wrap ul.gnb > li > a.on {
  font-weight: 700;
  color: #223359;
}

.gnb_wrap ul.gnb .gsnb_inner {
  padding-top: 30px;
  padding-bottom: 110px;
  width: 1200px;
  margin: 0 auto;
}
.gnb_wrap ul.gnb .gsnb_inner ul {
  display: block;
}

.gnb_wrap ul.gnb > li .gsnb_wrap {
  display: none;
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  background-color: rgba(34, 34, 34, 0.95);
  overflow: hidden;
  z-index: 30001;
}
.gnb_wrap ul.gnb > li .gsnb_wrap {
  text-align: center;
  z-index: 999;
}
.gnb_wrap ul.gnb > li .gsnb_wrap ul > li {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.gnb_wrap ul.gnb > li .gsnb_wrap ul > li a {
  display: inline-block;
  padding: 5px 29px;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 22px;
  text-align: left;
}
.gnb_wrap ul.gnb > li .gsnb_wrap ul > li a:hover {
  text-decoration: underline;
  color: #fff;
}
.header_ly {
  display: none;
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 300;
  background-color: #222;
  opacity: 0.35;
}

/* language controll */
.lg_control {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 3000;
  margin-left: 30px;
}
.lg_control a.active {
  position: relative;
  display: inline-block;
  width: 132px;
  padding: 2px 0 1px 6px;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  line-height: 26px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #fff;
  background-image: url("../img/ic/ic_arrow_01.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.lg_control a.on {
  background-image: url("../img/ic/ic_arrow_02.png");
}
.lg_control a.active::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 33px;
  display: inline-block;
  width: 1px;
  height: 18px;
  background-color: #d9d9d9;
}
.lg_control ul {
  display: none;
  margin: 2px 0 0;
  padding: 9px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.lg_control ul li a {
  display: block;
  padding: 1px 0 1px 17px;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  text-align: left;
  line-height: 26px;
}
.lg_control ul li:hover a {
  background-color: #ececec;
}

.lg_control .lg_layer a img {
  width: 25px;
  height: 16px;
  vertical-align: text-top;
  margin-right: 6px;
}

.sect_inn {
  width: 1200px;
  margin: 0 auto;

  /* padding-top: 90px; */
  padding-top: 80px;
  display: flex;
}
.container {
  background-color: #f5f6fa;
}

/* CSS */
.breadcrumb {
  font-size: 16px;
  color: #6c757d;
  display: flex;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  color: #0c1b33; /* Dark blue color for links */
  font-weight: 500;
  transition: color 0.3s ease;
}

.breadcrumb a:hover {
  color: #007bff; /* Change to blue on hover */
}

.breadcrumb i {
  margin: 0 8px;
  color: #6c757d; /* Light grey color for the angle right icon */
  font-size: 14px; /* Adjust icon size if needed */
}

/* CSS */
.post-container {
  /* padding: 20px; */
  border-radius: 8px;
  max-width: 600px;
  /* margin: 20px auto; */
  font-family: Arial, sans-serif;
}

.tag {
  background-color: #007bff; /* Blue color for the tag */
  color: #ffffff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
}

.post-title {
  color: #0c1b33; /* Dark blue color for the title */
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.post-date {
  color: #6c757d; /* Grey color for the date */
  font-size: 14px;
  display: flex;
  align-items: center;
}

.post-date i {
  margin-right: 5px;
}

.content {
  flex: 1;
}
.advertisement {
  width: 250px;
  margin: 150px 20px 0;
}

.news-section {
}

.tag-container {
  margin-bottom: 20px;
}

.tag-button {
  background-color: #f5f6fa;
  color: #4f6982;
  border: 0.2px solid #4f6982;
  padding: 4px 10px;
  border-radius: 6px;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.tag-button:hover {
  background-color: #c7d4ff;
}

.promo-image {
  text-align: center;
  cursor: pointer;
}

.promo-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 10px 0;
}

/* .section-title .vertical-line {
  width: 4px;
  height: 20px;
  background-color: #007bff;
  margin-right: 10px;
} */

.news-item {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}

.news-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 15px;
}

.news-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.news-title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #0c1b33;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Limits to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.news-date {
  font-size: 14px;
  color: #888888;
}

.custom-quote {
  font-size: 16px;
  font-style: italic;
  color: #6c757d; /* Grey color */
  border-left: 4px solid #007bff; /* Blue line on the left */
  padding-left: 15px; /* Padding to create space between text and border */
  margin: 20px 0;
  line-height: 1.6; /* Increase line height for readability */
}
.content-section {
  padding: 0;
  border-radius: 8px;
  max-width: 950px;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: justify;
}

.content-image {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Rounded corners for the image */
  margin-bottom: 15px;
  margin: 20px 0;
}

.content-heading {
  font-size: 22px;
  color: #0c1b33; /* Dark blue for the heading */
  margin: 20px 0;
}
.content-heading-h3 {
  font-size: 19px;
  color: #0c1b33; /* Dark blue for the heading */
  margin: 20px 0;
}

.content-text {
  font-size: 16px;
  color: #0c1b33; /* Grey color for the text */
  line-height: 1.6;
}

.features-section {
  font-family: Arial, sans-serif;
  color: #0c1b33; /* Dark blue for the main text */
  line-height: 1.6;
  /* max-width: 800px; */
  margin: 20px 0;
  font-size: 16px;
}

.features-list {
  list-style-type: disc; /* Bullet points */
  margin-left: 20px; /* Indentation for the list */
}

.features-list li {
  margin-bottom: 10px;
}

.features-list strong {
  color: #0c1b33; /* Emphasize titles in bold */
}

.read-more-quote {
  font-size: 16px;
  font-style: italic;
  color: #6c757d; /* Grey color for the text */
  border-left: 4px solid #007bff; /* Blue line on the left */
  padding-left: 15px; /* Padding to create space between text and border */
  margin: 20px 0;
  line-height: 1.6; /* Increase line height for readability */
}

.read-more-link {
  text-decoration: none;
  color: #007bff !important; /* Add !important to ensure it overrides other styles */
  font-weight: 500;
  border-bottom: 1px solid #007bff; /* Underline effect */
  transition: color 0.3s ease, border-color 0.3s ease;
}

.read-more-link:hover {
  color: #0056b3 !important; /* Add !important to override other styles on hover */
  border-color: #0056b3; /* Change underline color on hover */
}
.follow-section {
  font-family: Arial, sans-serif;
  color: #0c1b33; /* Dark blue for the text */
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0;
}

.follow-links {
  list-style-type: disc; /* Bullet points */
  margin-left: 20px; /* Indentation for the list */
  padding: 0;
}

.follow-links li {
  /* margin-bottom: 10px; */
}

.follow-links a {
  color: #000000 !important; /* Dark blue for links */
  text-decoration: underline;
  font-weight: 600; /* Make link text bold */
  transition: color 0.3s ease;
}

.follow-links a:hover {
  color: #0056b3 !important; /* Darker blue on hover */
}

/*  url("../img/bg/Banner_webill_Image.png") no-repeat center center; */
.promo-banner {
  background: url("../img/bg/Banner_webill_Image.png") no-repeat center center /
    cover;

  color: #ffffff; /* White text */
  padding: 30px 0px;
  border-radius: 20px;
  width: 100%;
  height: auto;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.promo-header h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.promo-header p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.promo-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.promo-image {
  flex: 0.9;
}

.promo-features {
  flex: 1;
  text-align: left;
  max-width: 550px;
}

.promo-features ul {
  list-style-type: disc; /* Bullet points */
  padding: 0;
}

.promo-features li {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1.3;
}

.promo-button {
  margin-top: 40px;
}

.cta-button {
  background-color: #ffffff;
  width: 90%;
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}
.share-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  border-top: 0.1px solid #d7d7d7;
  margin-bottom: 30px;
}

.share-text {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #0c1b33; /* Dark blue color for text */
  margin-right: 15px;
  font-size: 18px;
}

.vertical-line {
  width: 4px;
  height: 20px;
  background-color: #007bff; /* Blue color for the vertical line */
  margin-right: 10px;
  border-radius: 4px;
}

.share-icons {
  display: flex;
  gap: 15px;
}

.share-icon {
  width: 32px;
  height: 32px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.share-icon.facebook {
  background-image: url("../img/bg/facebook-icon.png");
  background-color: #3b5998; /* Facebook blue */
}

.share-icon.linkedin {
  background-image: url("../img/bg/linkedin-icon.png");
  background-color: #0077b5; /* LinkedIn blue */
}

.share-icon.gmail {
  background-image: url("../img/bg/gmail-icon.png");
  background-color: #ffffff; /* White background */
}

.share-icon.link {
  background-image: url("../img/bg/link-icon.png");
  background-color: #00aaff; /* Custom blue for the link icon */
  border: none;
}

.share-icon:hover {
  transform: scale(1.1); /* Slightly enlarge icon on hover */
}
.copy-feedback {
  font-family: Arial, sans-serif;
  color: rgb(2, 193, 18);
  position: absolute;
  font-weight: bold;
  bottom: -20px;
  right: -30px;
  display: none;
}

/* combo_wrap */
.combo_wrap {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 300;
}
.combo_wrap a.btn_combo {
  position: relative;
  display: inline-block;
  min-width: 130px;
  padding: 5px 0 5px 17px;
  font-weight: 400;
  font-size: 14px;
  color: #222;
  line-height: 26px;
  border-radius: 5px;
  border: 1px solid #ddd;
  text-align: left;
  background-color: #fff;
  background-image: url("../img/ic/ic_arrow_01.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.combo_wrap a.btn_combo span {
  pointer-events: none;
}
.combo_wrap a.on {
  background-image: url("../img/ic/ic_arrow_02.png");
}
.combo_wrap a.btn_combo::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 33px;
  display: inline-block;
  width: 1px;
  height: 18px;
  background-color: #d9d9d9;
}
.combo_wrap .combo_layer {
  display: none;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: 2px 0 0;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.combo_wrap .combo_layer ul li a {
  display: block;
  padding: 4px 0 4px 17px;
  font-weight: 400;
  font-size: 14px;
  color: #222;
  text-align: left;
  line-height: 26px;
}
.combo_wrap .combo_layer ul li:hover a {
  background-color: #ececec;
}

/* footer */
.footer {
  width: 100%;
  height: 262px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  z-index: 300;
}
.footer .footer_inner {
  position: relative;
  width: 1200px;
  padding: 28px 0 0 304px;
  margin: 0 auto;
  box-sizing: border-box;
}
/* footer_logo */
.footer .footer_logo {
  position: absolute;
  top: 18px;
  left: 0;
}
.footer .footer_logo a {
  display: inline-block;
  width: 260px;
  height: 50px;
  /* background-image: url("../img/bg/logo_WebcashGenuwin.png"); */
  background-image: url("../img/bg/logo_WebcashVietnam.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* footer_addr */
/* .footer .footer_addr {
    } */
.iconStyle {
  font-size: 16px;
  margin-right: 10px;
}
.footer .footer_addr img {
  width: 20px;
  height: 20px;
}
.footer .footer_addr ul li {
  float: left;
  margin-left: 12px;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 300;
  color: rgba(67, 77, 93, 0.7);
  line-height: 14px;
}
.footer .footer_addr ul li:first-child {
  margin-left: 0;
}
.footer .footer_copy {
  display: inline-block;
  margin: 14px 0 0;
}
.footer .footer_copy p {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 300;
  color: black;
  line-height: 14px;
}
.footer .footer_copy p a {
  padding: 5px 0;
  font-size: 14px;
  font-weight: 300;
  color: black;
  line-height: 14px;
  margin-left: 30px;
  text-decoration: underline;
}
.footer_inner h2 {
  margin-bottom: 14px;
}
